*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.navlist{
    display: flex;
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid white;
   
}
#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, blueviolet,lightgreen);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}
.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
    margin-top: 30px;
}
.hero-text h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    line-height: 1;
    color:white;
    margin: 0 0 45px;
}
.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.hero-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}
.hero-img img{
    width: 700px;
    height: auto;
}
.hero-text a{
    display: inline-block;
    color: white;
    background:linear-gradient(45deg, lightgreen, blueviolet);
    border: 1px solid rgb(231, 220, 220);
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.hero-text a:hover{
    background:linear-gradient(45deg, blueviolet,lightgreen);
    border: 1px solid white;
    transform: translateX(8px);
}
.hero-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}
.hero-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}
.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}
.icons i:hover{
    color: black;
    transform: translateY(-5px);
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #4d9559;
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}

.our-content{

    display: block;
    justify-content: center;
    margin-bottom:5px;
    margin-top: 5px;
}
.our-content h3{
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: 600;
    text-decoration: underline;
}

/*footer*/
.con{
   background: black;
   width: 100%;
   height: 300px;
   
}
.con h3{
    padding-top: 10px;
    padding-left: 5px;
    text-decoration: underline;
    color: white;
}
.con p{
    padding-left: 5px;
    color: white;
}
.con h2{
    padding-top: 10px;
    padding-left: 5px;
    text-decoration: underline;
    color: white;
}

.con li{
    padding-top: 8px;
    
}
.con li a{
    color: white;
}
.con .option{
    float: left;
    padding: 0 15px;
    font-size: 15px;
   
}
.iconsss{
    padding-left: 18%;
    padding-top: 5px ;
}
.iconsss a i{
    color: white;
    font-size: 30px;
}
.con h2:hover{
    transform: translateY(-3px);
}
.option li a:hover{
    color: grey;
}
.iconsss i:hover{
    color: lightblue;
    transform: translateX(3px);
}


/*-------*/
.hero-text h5{
   
            transform:  translateX(0px);
            animation: float 3s ease-out infinite;
}
.hero-text h4{
   
    transform:  translateX(0px);
    animation: float 3s ease-out infinite;
}
.hero-text h1{
   
    transform:  translateX(0px);
    animation: float 3s ease-out infinite;
}
.hero-text p{
   
    transform:  translateX(0px);
    animation: float 3s ease-out infinite;
}

/*responsive*/

@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transform: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}
@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 1340){
    .hero-img img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 25px;
    }
}
@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding: 115px;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width: 560px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
}
@media (max-width: 990px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #4d9559;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
    }
    .navlist a{
        display: block;
        margin: 7px 0;
        margin-left: 0; 
    }
    .navlist.open{
        right: 0;
    }
}
@media (max-width: 680px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 530px){
    section{
        padding: 0 3%;
          transition: .2s;
    }
    .hero-text{
        padding:100px ;
        text-align: center;
    }
    .hero-img img{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 500px){
    section{
        padding: 0 1%;
          transition: .2s;
    }
    .hero-text{
        padding:75px ;
        text-align: center;
    }
    .hero-img img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 450px){
    section{
        padding: 0 3%;
          transition: .2s;
    }
    .hero-text{
        padding:50px ;
        text-align: center;
      
    }
    .hero-img img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 410px){
    section{
        padding: 23px 3%;
          transition: .2s;
    }
    .hero-text{
        padding:30px ;
        text-align: center;
        
    }
    .hero-img img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 364px){
    section{
        padding: 23px 3%;
          transition: .2s;
    }
    .hero-text{
        padding:20px ;
        text-align: center;
        
    }
    .hero-img img{
        width: 100%;
        height: auto;
    }
}


@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}
